---
import Layout from '../layouts/Layout.astro';
import shieldIcon from '../assets/shield.webp';
import heartIcon from '../assets/heart.webp';
---

<Layout title="Inicio">

  <!-- Barra inicial -->
  <section class="flex w-full h-50 md:h-90 place-items-center justify-center bg-[url(../assets/bg-ayudadefensores.png)] bg-cover relative">
    <div class="text-center opacity-0 animate-slide-in">
      <p class="text-[22px] md:text-[24px] font-normal text-cafeoscuro">Una plataforma de apoyo para</p>
      <h1 class="text-3xl md:text-9xl font-extrabold text-cafemedio">DEFENSORES</h1>
      <p class="text-[22px] md:text-[24px] font-semibold text-verde">ambientales en América Latina y el Caribe</p>
    </div>
    <div class="absolute bottom-0 left-1/2 transform -translate-x-1/2 translate-y-1/2 opacity-0 animate-slide-in-delay">
      <button class="uppercase bg-cafeoscuro text-white font-bold text-xs md:text-[18px] px-2 py-2 md:px-6 md:py-4 rounded-full hover:bg-cafeclaro transition">
        Busca Ayuda Ahora 
      </button>
    </div>
  </section>

  <!-- Flecha -->
  <section class="mt-15.5 flex justify-center -z-10">
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="85" viewBox="0 0 12 85" fill="none">
      <path d="M5.77342 84.7735L11.5469 79L5.77342 73.2265L-8.35618e-05 79L5.77342 84.7735ZM5.77344 0L4.77344 -2.32254e-07L4.77342 79L5.77342 79L6.77342 79L6.77344 2.32254e-07L5.77344 0Z" fill="#818B3E"/>
    </svg>
  </section>


  <!-- Sección ayuda -->
  <section class="mt-12 flex justify-center">
    <div class="container max-w-6xl mx-auto px-4">
      <div class="flex flex-col md:flex-row">
        <div class="w-full md:w-1/3 text-center">
          <div class="text-4xl md:text-5xl font-normal text-cafeoscuro">¿Necesitas</div>
          <p class="text-5xl md:text-7xl font-extrabold text-cafemedio">AYUDA?</p>
        </div>
        <div class="w-full md:w-2/3 mt-4 md:mt-0">
          <div class="bg-lime-200/40 rounded-lg p-6">
            <p class="text-cafeoscuro text-xl">Si enfrentas riesgos, amenazas o hostigamiento por defender el ambiente, aquí puedes encontrar apoyo, información confiable y redes que pueden ayudarte.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Shields -->
  <section class="mt-12 md:mt-12 flex justify-center">
    <div class="container max-w-6xl mx-auto px-4">
      <div class="flex flex-col flex-wrap md:flex-row place-content-center gap-8">
        <div class="w-80 h-48 bg-amarillo rounded-xl relative mt-12">
          <div class="absolute -top-12 left-1/2 -translate-x-1/2 w-24 h-24 bg-amarillo rounded-full flex items-center justify-center">
            <img src={shieldIcon.src} alt="Shield" class="w-16 h-16" />
          </div>
        </div>
        <div class="w-80 h-48 bg-verde rounded-xl relative mt-12">
          <div class="absolute -top-12 left-1/2 -translate-x-1/2 w-24 h-24 bg-verde rounded-full flex items-center justify-center">
            <img src={shieldIcon.src} alt="Shield" class="w-16 h-16 invert brightness-20" />
          </div>
        </div>
        <div class="w-80 h-48 bg-cafemedio rounded-xl relative mt-12">
          <div class="absolute -top-12 left-1/2 -translate-x-1/2 w-24 h-24 bg-cafemedio rounded-full flex items-center justify-center">
            <img src={shieldIcon.src} alt="Shield" class="w-16 h-16 invert brightness-20" />
          </div>
        </div>
        <div class="w-80 h-48 bg-azul rounded-xl relative mt-12">
          <div class="absolute -top-12 left-1/2 -translate-x-1/2 w-24 h-24 bg-azul rounded-full flex items-center justify-center">
            <img src={shieldIcon.src} alt="Shield" class="w-16 h-16 invert brightness-20" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Flecha -->
  <section class="mt-15.5 flex justify-center -z-10">
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="85" viewBox="0 0 12 85" fill="none">
      <path d="M5.77342 84.7735L11.5469 79L5.77342 73.2265L-8.35618e-05 79L5.77342 84.7735ZM5.77344 0L4.77344 -2.32254e-07L4.77342 79L5.77342 79L6.77342 79L6.77344 2.32254e-07L5.77344 0Z" fill="#818B3E"/>
    </svg>
  </section>


  <!-- Que es -->
  <section class="mt-12 flex justify-center">
    <div class="container max-w-6xl mx-auto px-4">
      <div class="flex flex-col md:flex-row">
        <div class="w-full md:w-1/2 md:text-left text-center">
          <div class="text-4xl md:text-5xl font-normal text-cafeoscuro">¿Qué es</div>
          <p class="text-3xl md:text-7xl font-extrabold text-cafemedio">AYUDA</p>
          <p class="text-3xl md:text-5xl font-extrabold text-cafemedio">DEFENSORES?</p>
        </div>
        <div class="w-full md:w-1/2 mt-4 md:mt-0">
          <div class="p-6 ml-20">
            <div class="text-verde text-5xl font-extrabold">PROPÓSITO</div>
            <p class="mt-4 text-cafeoscuro text-[20px] mr-10">Proteger y empoderar a personas defensoras del ambiente en América Latina y el Caribe.</p>
            <p class="mt-2 text-cafeoscuro text-[20px] font-bold">Queremos que la defensa ambiental sea:</p>
            <div class="mt-2 text-cafemedio text-[20px] font-extrabold text-nowrap flex items-center gap-2"><img src={heartIcon.src} alt="Heart" class="w-6 h-6" />SEGURA</div>
            <div class="mt-2 text-cafemedio text-[20px] font-extrabold text-nowrap flex items-center gap-2"><img src={heartIcon.src} alt="Heart" class="w-6 h-6" />CONECTADA</div>
            <div class="mt-2 text-cafemedio text-[20px] font-extrabold text-nowrap flex items-center gap-2"><img src={heartIcon.src} alt="Heart" class="w-6 h-6" />RESPALDADA EN CADA PAÍS</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
@keyframes slide-in {
from {
  opacity: 0;
  transform: translateY(10px);
}
to {
  opacity: 1;
  transform: translateY(0);
}
}
@keyframes animate-once {
0%, 100% { transform: translateY(0); }
5% { transform: translateY(5px); }
}
.animate-slide-in {
  animation: slide-in 0.8s ease-out forwards;
}
.animate-slide-in-delay {
  animation: slide-in 0.8s ease-out 0.4s forwards;
}
</style>
